## Water Saving Rankings in Santa Monica 2017

**Author**: Xiaomeng

In [41]:
import pandas as pd
import pylab as pl
import datetime
from __future__ import print_function, division
%pylab inline

__author__ = "Xiaomeng Dong"

Populating the interactive namespace from numpy and matplotlib

### 1. Read data through API

In [73]:
# The original data was filtered by SINGLE FAMILY in category_discription
# The current_read_date is ranging from 01/01/2017 to 12/31/2017
df = pd.read_csv('Saving.csv')

In [76]:
df.head()

,occupant_code,debtor_number,category_code,category_description,bill_code,utility_type,start_date,end_date,current_read_date,last_read_date,...,block_address,street_side,zip_code,census_block_id,street_centroid_lat,street_centroid_long,street_centroid_wkt,street_centroid,street_segment_wkt,id
0,3,20667,SF,SINGLE FAMILY,WASF2,W,2006/07/01,NaN,2017/04/10,2017/02/07,...,NaN,odd,90402.0,6.037701e+13,34.040997,-118.489896,POINT (-118.489895819831 34.0409970049082),"(34.0409970049082, -118.489895819831)",LINESTRING (-118.490314945629 34.0413552956865...,19513931282712017-04-10
1,2,63506,SF,SINGLE FAMILY,WASF1,W,1986/09/02,NaN,2017/01/03,2016/11/01,...,NaN,odd,90405.0,6.037702e+13,34.009713,-118.484372,POINT (-118.484371957915 34.0097128040428),"(34.0097128040428, -118.484371957915)",LINESTRING (-118.484714194863 34.0100518462226...,51245121232912017-01-03
2,10,50570,SF,SINGLE FAMILY,WASF1,W,2011/05/18,NaN,2017/01/03,2016/11/01,...,NaN,odd,90405.0,6.037702e+13,34.009713,-118.484372,POINT (-118.484371957915 34.0097128040428),"(34.0097128040428, -118.484371957915)",LINESTRING (-118.484714194863 34.0100518462226...,512471101232912017-01-03
3,11,39652,SF,SINGLE FAMILY,WASF1,W,2004/03/03,NaN,2017/01/03,2016/11/01,...,NaN,odd,90405.0,6.037702e+13,34.009292,-118.483947,POINT (-118.483947255496 34.0092920075084),"(34.0092920075084, -118.483947255496)","LINESTRING (-118.48398834892 34.0093325180329,...",512491111232912017-01-03
4,6,80849,SF,SINGLE FAMILY,WASF3,W,2013/03/13,NaN,2017/01/03,2016/11/02,...,NaN,NaN,90401.0,NaN,NaN,NaN,NaN,NaN,NaN,2436261232212017-01-03

In [39]:
df.bill_date.unique()

array(['2017/04/21', '2017/01/09', '2017/01/05', '2017/03/09',
       '2017/01/27', '2017/04/24', '2017/05/09', '2017/01/11',
       '2017/01/12', '2017/01/19', '2017/01/24', '2017/01/31',
       '2017/01/26', '2017/02/07', '2017/02/06', '2017/02/02',
       '2017/02/09', '2017/02/14', '2017/02/22', '2017/02/16',
       '2017/02/28', '2017/03/13', '2017/03/01', '2017/03/21',
       '2017/03/27', '2017/04/05', '2017/03/29', '2017/04/10',
       '2017/04/12', '2017/04/25', '2017/04/26', '2017/05/01',
       '2017/04/27', '2017/05/15', '2017/05/11', '2017/05/23',
       '2017/05/19', '2017/05/31', '2017/10/06', '2017/07/11',
       '2017/05/30', '2017/06/07', '2017/06/14', '2017/06/21',
       '2017/06/16', '2017/07/03', '2017/06/29', '2017/06/30',
       '2017/06/22', '2017/07/10', '2017/07/17', '2017/07/13',
       '2017/07/31', '2017/07/20', '2017/07/28', '2017/08/08',
       '2017/08/16', '2017/08/15', '2017/08/23', '2017/08/21',
       '2017/08/28', '2017/08/25', '2017/09/13', '2017/08/31',
       '2017/09/19', '2017/09/18', '2017/11/08', '2017/11/15',
       '2017/09/27', '2017/09/26', '2017/09/21', '2017/09/25',
       '2017/10/02', '2017/09/28', '2017/10/10', '2017/10/11',
       '2017/10/16', '2017/10/24', '2017/10/31', '2017/11/03',
       '2017/11/13', '2017/11/14', '2017/12/05', '2017/12/04',
       '2017/11/30', '2017/12/12', '2017/12/19', '2017/12/18',
       '2017/12/27', '2017/12/20', '2018/01/10'], dtype=object)

In [40]:
df.groupby('current_read_date').unique()

array(['2017/04/10', '2017/01/03', '2017/03/03', '2017/01/23',
       '2017/01/19', '2017/04/12', '2017/04/11', '2017/05/03',
       '2017/05/01', '2017/01/04', '2017/01/05', '2017/01/11',
       '2017/01/10', '2017/01/06', '2017/01/18', '2017/01/17',
       '2017/01/13', '2017/01/27', '2017/01/26', '2017/01/25',
       '2017/01/24', '2017/02/03', '2017/02/01', '2017/01/31',
       '2017/02/08', '2017/02/07', '2017/02/06', '2017/03/06',
       '2017/02/17', '2017/02/16', '2017/02/15', '2017/02/13',
       '2017/02/10', '2017/02/28', '2017/02/27', '2017/02/24',
       '2017/02/23', '2017/02/22', '2017/02/21', '2017/03/10',
       '2017/03/09', '2017/03/08', '2017/03/01', '2017/03/02',
       '2017/03/15', '2017/03/22', '2017/03/21', '2017/03/20',
       '2017/04/03', '2017/03/31', '2017/04/04', '2017/03/30',
       '2017/03/29', '2017/03/28', '2017/03/27', '2017/03/24',
       '2017/04/05', '2017/04/06', '2017/04/13', '2017/04/24',
       '2017/04/25', '2017/04/21', '2017/04/20', '2017/04/19',
       '2017/04/18', '2017/04/17', '2017/04/26', '2017/05/15',
       '2017/05/11', '2017/05/10', '2017/05/09', '2017/05/08',
       '2017/05/05', '2017/05/04', '2017/05/23', '2017/05/22',
       '2017/05/19', '2017/05/18', '2017/05/17', '2017/05/25',
       '2017/10/03', '2017/07/03', '2017/05/24', '2017/06/01',
       '2017/05/31', '2017/05/30', '2017/06/07', '2017/06/06',
       '2017/06/19', '2017/06/15', '2017/06/14', '2017/06/13',
       '2017/06/20', '2017/06/12', '2017/06/30', '2017/06/28',
       '2017/06/27', '2017/06/26', '2017/06/23', '2017/06/22',
       '2017/07/05', '2017/07/14', '2017/07/13', '2017/07/12',
       '2017/07/11', '2017/07/10', '2017/07/07', '2017/07/20',
       '2017/07/06', '2017/07/19', '2017/07/17', '2017/07/27',
       '2017/07/26', '2017/07/25', '2017/08/03', '2017/07/24',
       '2017/08/01', '2017/08/07', '2017/08/04', '2017/08/02',
       '2017/08/08', '2017/07/28', '2017/07/31', '2017/08/10',
       '2017/08/09', '2017/08/17', '2017/08/16', '2017/08/15',
       '2017/08/14', '2017/08/11', '2017/08/25', '2017/08/23',
       '2017/08/22', '2017/08/28', '2017/08/21', '2017/09/01',
       '2017/08/18', '2017/08/31', '2017/08/30', '2017/08/29',
       '2017/09/12', '2017/09/11', '2017/09/07', '2017/11/02',
       '2017/11/08', '2017/11/01', '2017/09/06', '2017/09/05',
       '2017/09/25', '2017/09/18', '2017/09/19', '2017/09/22',
       '2017/09/21', '2017/09/20', '2017/09/14', '2017/10/02',
       '2017/09/29', '2017/09/28', '2017/09/27', '2017/10/06',
       '2017/10/05', '2017/10/04', '2017/10/16', '2017/10/12',
       '2017/10/10', '2017/10/18', '2017/10/31', '2017/10/30',
       '2017/10/27', '2017/10/25', '2017/10/20', '2017/11/03',
       '2017/11/13', '2017/11/09', '2017/11/06', '2017/11/07',
       '2017/12/04', '2017/11/30', '2017/11/29', '2017/11/28',
       '2017/11/27', '2017/11/21', '2017/11/22', '2017/11/14',
       '2017/11/20', '2017/11/16', '2017/11/15', '2017/11/17',
       '2017/12/11', '2017/12/12', '2017/12/08', '2017/12/05',
       '2017/12/18', '2017/12/14', '2017/12/15', '2017/12/26',
       '2017/12/21', '2017/12/27', '2017/12/20', '2017/12/29'], dtype=object)

In [69]:
df.apply(lambda x: datetime.datetime.strptime(x.current_read_date, '%Y/%m/%d') - \
         datetime.datetime.strptime(x.last_read_date, '%Y/%m/%d'), axis = 1)

0       62 days
1       63 days
2       63 days
3       63 days
4       62 days
5       59 days
6       63 days
7       63 days
8       63 days
9       62 days
10      59 days
11      59 days
12      59 days
13      59 days
14      59 days
15      62 days
16      62 days
17      62 days
18      62 days
19      62 days
20      62 days
21      62 days
22      58 days
23      58 days
24      59 days
25      59 days
26      59 days
27      59 days
28      58 days
29      58 days
          ...
11805   62 days
11806   62 days
11807   26 days
11808   40 days
11809   20 days
11810   67 days
11811   28 days
11812   27 days
11813   30 days
11814   61 days
11815   39 days
11816   34 days
11817   34 days
11818   34 days
11819   10 days
11820   59 days
11821    0 days
11822   28 days
11823   57 days
11824   70 days
11825   41 days
11826   25 days
11827   15 days
11828   43 days
11829   49 days
11830   43 days
11831   37 days
11832   63 days
11833   15 days
11834   23 days
Length: 11835, dtype: timedelta64[ns]

In [71]:
df.debtor_number.

6382