## Water Usage Records of Santa Monica 2015

In [1]:
import pandas as pd
import pylab as pl
import datetime
from IPython.display import display
%pylab inline

__author__ = "Xiaomeng Dong"

Populating the interactive namespace from numpy and matplotlib

In [2]:
# The current_read_date is filtered from 01/01/2015 to 12/31/2015.
df15 = pd.read_csv('Water_Usage2015.csv')

In [3]:
# Get the basic information about the dataset.
df15.columns

Index(['occupant_code', 'debtor_number', 'category_code',
       'category_description', 'bill_code', 'utility_type', 'start_date',
       'end_date', 'current_read_date', 'last_read_date', 'usage_hcf',
       'usage_gallons', 'net', 'bill_date', 'batch_number', 'street_name',
       'block_address', 'street_side', 'zip_code', 'census_block_id',
       'street_centroid_lat', 'street_centroid_long', 'street_centroid_wkt',
       'street_centroid', 'street_segment_wkt', 'id'],
      dtype='object')

#### According to columns' names, the information of this dataset could be concluded in several ranges.

Occupant:

    occupant_code

Debtor:

    debtor_number
    category_code
    category_description
    
Bill:

    bill_code
    utility_type
    start_date
    end_date
    current_read_date
    last_read_date
    usage_hcf
    usage_gallons
    net
    bill_date
    batch_number
    
Location:

    street_name
    block_address
    street_side
    zip_code
    census_block_id
    street_centroid_lat
    street_centroid_long
    street_centroid_wkt
    street_centroid
    street_segment_wkt

In [4]:
# Find an unique debtor and track its records by the timeline.
df15.head(5)

,occupant_code,debtor_number,category_code,category_description,bill_code,utility_type,start_date,end_date,current_read_date,last_read_date,...,block_address,street_side,zip_code,census_block_id,street_centroid_lat,street_centroid_long,street_centroid_wkt,street_centroid,street_segment_wkt,id
0,1,32456,SF,SINGLE FAMILY,WASF1,W,2006/07/01,NaN,2015/03/17,2015/01/14,...,400BLK EUCLID ST,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",2464641963412015-03-17
1,5,80911,SF,SINGLE FAMILY,WASF1,W,2013/04/03,NaN,2015/03/17,2015/01/14,...,400BLK EUCLID ST,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",2465045963412015-03-17
2,5,45013,SF,SINGLE FAMILY,WASF2,W,1983/07/25,NaN,2015/03/17,2015/01/14,...,400BLK EUCLID ST,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",2465445963412015-03-17
3,10,81636,SF,SINGLE FAMILY,WASF2,W,2013/11/04,NaN,2015/03/17,2015/01/14,...,400BLK EUCLID ST,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",24658410963412015-03-17
4,4,43000,SF,SINGLE FAMILY,WASF2,W,1991/09/12,NaN,2015/03/17,2015/01/14,...,400BLK 12TH ST,odd,90402,6.037701e+13,34.034303,-118.501328,POINT (-118.501327585607 34.0343033940357),"(34.0343033940357, -118.501327585607)",LINESTRING (-118.501959327289 34.0348431090156...,2466244963412015-03-17

In [5]:
# Let's choose debtor_number 32456 as a example and sort current_read_time accendingly.
df15[df15.debtor_number == 32456].sort_values('current_read_date')

,occupant_code,debtor_number,category_code,category_description,bill_code,utility_type,start_date,end_date,current_read_date,last_read_date,...,block_address,street_side,zip_code,census_block_id,street_centroid_lat,street_centroid_long,street_centroid_wkt,street_centroid,street_segment_wkt,id
17266,1,32456,SF,SINGLE FAMILY,WASF1,W,2006/07/01,NaN,2015/01/14,2014/11/18,...,400BLK EUCLID ST,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",2464641937912015-01-14
0,1,32456,SF,SINGLE FAMILY,WASF1,W,2006/07/01,NaN,2015/03/17,2015/01/14,...,400BLK EUCLID ST,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",2464641963412015-03-17
16937,1,32456,SF,SINGLE FAMILY,WASF1,W,2006/07/01,NaN,2015/05/15,2015/03/17,...,400BLK EUCLID ST,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",2464641983312015-05-15
21005,1,32456,SF,SINGLE FAMILY,WASF1,W,2006/07/01,NaN,2015/09/11,2015/07/14,...,NaN,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",24646411021412015-09-11

In [6]:
# Let's choose debtor_number 80911 as a example and sort current_read_time accendingly.
df15[df15.debtor_number == 80911].sort_values('current_read_date')

,occupant_code,debtor_number,category_code,category_description,bill_code,utility_type,start_date,end_date,current_read_date,last_read_date,...,block_address,street_side,zip_code,census_block_id,street_centroid_lat,street_centroid_long,street_centroid_wkt,street_centroid,street_segment_wkt,id
17267,5,80911,SF,SINGLE FAMILY,WASF1,W,2013/04/03,NaN,2015/01/14,2014/11/18,...,400BLK EUCLID ST,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",2465045937912015-01-14
1,5,80911,SF,SINGLE FAMILY,WASF1,W,2013/04/03,NaN,2015/03/17,2015/01/14,...,400BLK EUCLID ST,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",2465045963412015-03-17
16938,5,80911,SF,SINGLE FAMILY,WASF1,W,2013/04/03,NaN,2015/05/15,2015/03/17,...,400BLK EUCLID ST,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",2465045983312015-05-15
20920,5,80911,SF,SINGLE FAMILY,WASF1,W,2013/04/03,NaN,2015/09/11,2015/07/14,...,NaN,even,90402,6.037701e+13,34.035067,-118.500383,POINT (-118.500383101774 34.0350674589053),"(34.0350674589053, -118.500383101774)","LINESTRING (-118.50101624735 34.0356108368717,...",24650451021412015-09-11

#### The time gap between current_read_date and last_read_date could be two months.

In [7]:
# Uniquely identify a group of households using the information of Location.
# This group of households should have the same street_name, street_side andstreet_segment_wkt,
# which means they are on the same side of the same street.
gp = list(df15.groupby(['street_name', 'street_side', 'street_segment_wkt']))

In [8]:
display(gp[0][0])
gp[0][1]

('10TH ST',
 'even',
 'LINESTRING (-118.472374721934 34.005500910386, -118.471909325301 34.0050383458731)')

,occupant_code,debtor_number,category_code,category_description,bill_code,utility_type,start_date,end_date,current_read_date,last_read_date,...,block_address,street_side,zip_code,census_block_id,street_centroid_lat,street_centroid_long,street_centroid_wkt,street_centroid,street_segment_wkt,id
2350,8,33518,SF,SINGLE FAMILY,WASF1,W,2006/06/30,NaN,2015/02/26,2014/12/29,...,2900BLK 10TH ST,even,90405,6.037702e+13,34.00527,-118.472142,POINT (-118.472142023147 34.0052696285255),"(34.0052696285255, -118.472142023147)","LINESTRING (-118.472374721934 34.005500910386,...",4102018956712015-02-26
5218,11,49593,SF,SINGLE FAMILY,WASF2,W,1995/12/06,NaN,2015/04/27,2015/02/26,...,2900BLK 10TH ST,even,90405,6.037702e+13,34.00527,-118.472142,POINT (-118.472142023147 34.0052696285255),"(34.0052696285255, -118.472142023147)","LINESTRING (-118.472374721934 34.005500910386,...",41016111978012015-04-27
5219,8,33518,SF,SINGLE FAMILY,WASF1,W,2006/06/30,NaN,2015/04/27,2015/02/26,...,2900BLK 10TH ST,even,90405,6.037702e+13,34.00527,-118.472142,POINT (-118.472142023147 34.0052696285255),"(34.0052696285255, -118.472142023147)","LINESTRING (-118.472374721934 34.005500910386,...",4102018978012015-04-27
10731,11,49593,SF,SINGLE FAMILY,WASF2,W,1995/12/06,NaN,2015/02/26,2014/12/29,...,2900BLK 10TH ST,even,90405,6.037702e+13,34.00527,-118.472142,POINT (-118.472142023147 34.0052696285255),"(34.0052696285255, -118.472142023147)","LINESTRING (-118.472374721934 34.005500910386,...",41016111956712015-02-26
21990,8,33518,SF,SINGLE FAMILY,WASF1,W,2006/06/30,NaN,2015/10/22,2015/08/24,...,NaN,even,90405,6.037702e+13,34.00527,-118.472142,POINT (-118.472142023147 34.0052696285255),"(34.0052696285255, -118.472142023147)","LINESTRING (-118.472374721934 34.005500910386,...",41020181036612015-10-22

In [9]:
display(gp[1][0])
gp[1][1]

('10TH ST',
 'even',
 'LINESTRING (-118.482798376271 34.0152821562766, -118.480798336079 34.0135709864623)')

,occupant_code,debtor_number,category_code,category_description,bill_code,utility_type,start_date,end_date,current_read_date,last_read_date,...,block_address,street_side,zip_code,census_block_id,street_centroid_lat,street_centroid_long,street_centroid_wkt,street_centroid,street_segment_wkt,id
6133,3,81574,SF,SINGLE FAMILY,WASF1,W,2013/10/01,NaN,2015/04/14,2015/02/18,...,1800BLK 10TH ST,even,90404,6.037702e+13,34.014427,-118.481798,POINT (-118.481798345954 34.0144265754905),"(34.0144265754905, -118.481798345954)",LINESTRING (-118.482798376271 34.0152821562766...,10001253972812015-04-14
11884,3,81574,SF,SINGLE FAMILY,WASF1,W,2013/10/01,NaN,2015/02/18,2014/12/22,...,1800BLK 10TH ST,even,90404,6.037702e+13,34.014427,-118.481798,POINT (-118.481798345954 34.0144265754905),"(34.0144265754905, -118.481798345954)",LINESTRING (-118.482798376271 34.0152821562766...,10001253954012015-02-18

In [10]:
# Count the number of these unique groups
len(gp)

1706